/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 * label{
 *    display: inline;
 }

*/
.mae{
    border: 2px solid black;
    background-color: seagreen;    
}

table{
    display: inline-block;
   
}
thead{
    background: grey;
}
tr{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}

strong{ 
    background: green ;
}
#st{
    background: green ;
}

footer{
    background-color: black;
}

.classe{
    background: green ;
}

body{
    text-align: center;
    background-color: rgb(89, 167, 147);
    border:blue;
}

h1 { 
    text-align: center;
    color: rgb(20, 53, 161);
    font-style: italic;
}

h3 { 
    text-align: center;
    color: rgb(4, 50, 53);
    font-style: italic;
}

tbody{
    color: blue;
}

label{
    display: inline;
    }

campo{
    display: inline;
    }
