/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * 
 * label{
 *    display: inline;
 }




*/
/*.mae{
    border: 2px solid black;
    background-color: seagreen;    
}

table{
    display: inline-block;
    border: rgb(1, 29, 1);
}

.field{
    border: rgb(1, 32, 11);
}

thead{
    background: grey;
    border: 2px solid black;
}
tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

strong{ 
    background: green ;
}
#st{
    background: green ;
}

footer{
    background-color: black;
}

.classe{
    background: green ;
}

body{
    text-align: center;
    background-color: rgb(89, 167, 147);
    border:blue;
}

h1 { 
    text-align: center;
    color: rgb(20, 53, 161);
    font-style: italic;
}

h3 { 
    text-align: center;
    color: rgb(4, 50, 53);
    font-style: italic;
}

tbody{
    color: blue;
}

label{
    display: inline;
    }

campo{
    display: inline;
    }

*/
body{
    text-align: center;
    background-color: rgb(89, 167, 147);
    border:blue;
}
h1 { 
    text-align: center;
    color: rgb(4, 50, 53);
    /*font-style: italic;*/
}

h3 { 
    text-align: center;
    color: rgb(4, 50, 53);
    /*font-style: italic;*/
}

.cartao {
    margin-top: 100px;
    border: 3px rgb(1, 29, 1); 
    background-color: rgb(105, 211, 206);
    padding: 20px;

}

.logo{

    background-color: rgb(2, 44, 35);
    float: left;
}
.titulos_tabela{
    background-color: rgb(248, 248, 250);
    font-style: italic;
}
.botao{
    border: 2px solid rgb(0, 66, 0); 
    font-size: 15px;
    width: 200px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px
}

.error_msg{
    color: red;
}
